<div class="section" id="about">
    <div class="container">
      <div class="card">
        <div class="row">
          <div class="col-lg-6">
            <div class="card-body">
              <div class="h4 title">About</div>
              <p>{{ description }}</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card-body">
              <div class="h4 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4"><strong>Age:</strong></div>
                <div class="col-sm-8">{{ basicInfo.age }}</div>
              </div>
              <div class="row">
                <div class="col-sm-4"><strong>Email:</strong></div>
                <div class="col-sm-8">{{ basicInfo.email }}</div>
              </div>
              <div class="row">
                <div class="col-sm-4"><strong>Phone:</strong></div>
                <div class="col-sm-8">{{ basicInfo.phone }}</div>
              </div>
              <div class="row">
                <div class="col-sm-4"><strong>Address:</strong></div>
                <div class="col-sm-8">{{ basicInfo.address }}</div>
              </div>
              <div class="row">
                <div class="col-sm-4"><strong>Languages:</strong></div>
                <div class="col-sm-8">{{ basicInfo.languages }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  